<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/golbalStyle.css}" >
    <script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.7.0/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>

    <style>
        .item-link:hover, .item-link:hover > a {
            color: white !important;
            cursor: pointer;
        }
        a {
            text-decoration: none;
        }
        .export-link:hover > a {
            color: white !important;
        }
        tr#headerTable {
            line-height: 36px;
        }
    </style>

    <title>User - Shopme Admin</title>
</head>
<body>
<div class="container-fluid">
    <div th:replace="navigation :: menu"></div>

    <h2 class="mt-3">Manage Users</h2>

    <div class="d-flex justify-content-between align-content-center flex-wrap mt-3">
        <div class="d-flex flex-wrap align-content-center">
            <button class="btn btn-primary m-2">
                <a class="text-white" th:href="@{/users/new}">Create New User</a>
            </button>
            <button class="btn btn-outline-primary m-2 export-link">
                <a class="text-dark" th:href="@{/users/export/csv}">Export to CSV</a>
            </button>
            <button class="btn btn-outline-success m-2 export-link">
                <a class="text-dark" th:href="@{/users/export/excel}">Export to Excel</a>
            </button>
            <button class="btn btn-outline-danger m-2 export-link">
                <a class="text-dark" th:href="@{/users/export/pdf}">Export to PDF</a>
            </button>
        </div>

        <div th:replace="fragments :: search_form('/users/page/1')"></div>

    </div>

    <div th:if="${message != null}" class="alert alert-success text-center mt-3">
        [[${message}]]
    </div>

    <div class="mt-4 full-details">
        <table class="table table-responsive-xl table-striped table-hover align-middle">
            <thead class="table-danger">
                <tr id="headerTable">
                    <th class="hidden-column">
                        <th th:replace="fragments :: column_link('/users', 'id', 'User ID', 'tag')"></th>
                    </th>
                    <th scope="col">Photos</th>
                    <th class="hidden-column">
                        <th th:replace="fragments :: column_link('/users', 'email', 'Email', 'tag')"></th>
                    </th>
                    <th th:replace="fragments :: column_link('/users', 'firstName', 'First Name', 'none')"></th>
                    <th th:replace="fragments :: column_link('/users', 'lastName', 'Last Name', 'none')"></th>

                    <th scope="col">Roles</th>
                    <th scope="col">Enabled</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr th:each="user: ${listUsers}">
                    <td class="hidden-column">[[${user.id}]]</td>
                    <td>
                        <span th:if="${user.photos == null}" class="fa-solid fa-image-portrait fa-2xl mx-3 py-3"></span>
                        <img th:if="${user.photos != null}" class="img-thumbnail" style="width: 100px" th:src="@{${user.getPhotosImagePath}}"></img>
                    </td>
                    <td class="hidden-column">[[${user.email}]]</td>
                    <td>[[${user.firstName}]]</td>
                    <td>[[${user.lastName}]]</td>
                    <td>[[${user.roles}]]</td>
                    <td>
                        <div th:replace="fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})"></div>
                    </td>
                    <td>
                        <div th:replace="fragments :: edit('user', '/users/edit/' + ${user.id})"></div>
                        <div th:replace="fragments :: delete('user', ${user.id}, '/users/delete/' + ${user.id}, true)"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="less-details my-3">
        <div th:each="user: ${listUsers}" class="row m-1">
           <div class="row border-top border-dark">
               <div  class="col-4 my-3">
                   <span th:if="${user.photos == null}" class="fa-solid fa-image-portrait fa-2xl mx-3 py-3"></span>
                   <img th:if="${user.photos != null}" class="img-thumbnail" style="width: 100px" th:src="@{${user.getPhotosImagePath}}"></img>
               </div>
               <div class="col-8 my-3">
                   <div class="mb-2">[[${user.fullName}]]</div>
                   <div class="mb-2">[[${user.roles}]]</div>
                   <div class="mt-2">
                       <td>
                           <div th:replace="fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})"></div>
                       </td>
                       <td>
                           <div th:replace="fragments :: edit('user', '/users/edit/' + ${user.id})"></div>
                           <div th:replace="fragments :: delete('user', ${user.id}, '/users/delete/' + ${user.id}, true)"></div>
                       </td>
                   </div>
               </div>
           </div>
        </div>
    </div>

    <div th:replace="fragments :: pagination('/users', 'users')"></div>

    <div th:replace="fragments :: footer"></div>
    <div th:replace="fragments :: confirm_modal"></div>

</div>

<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    moduleURL = "[[@{/users}]]";

    $(document).ready(function () {
        $(".link-delete").on("click", function(e) {
            e.preventDefault();

          showDeleteConfirmModal($(this), "User")
            // alert($(this).attr("href"));
            // alert($(this).attr("href", "/hello"))
        })
    })
</script>

</body>
</html>