<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<body>
<div th:fragment="menu">
    <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
        <input type="submit"/>
    </form>
    <nav class="navbar navbar-expand-lg flex-wrap" style="background-color: #515154; padding: 10px 20px">
        <a class="navbar-brand bg-light border rounded rounded-3" th:href="@{/}">
            <img th:src="@{/images/ShopmeAdminSmall.png}">
        </a>

        <button type="button" class="navbar-toggler bg-light" data-bs-toggle="collapse" data-bs-target="#topNavbar"
                aria-controls="topNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"> </span>
        </button>

        <div class="collapse navbar-collapse" id="topNavbar">
            <ul class="navbar-nav flex-grow-1 flex-wrap">
                <li class="nav-item ms-2" sec:authorize="hasAuthority('Admin')">
                    <a class="nav-link text-white-50 item-link" th:href="@{/users}">User</a>
                </li>

                <li class="nav-item ms-2" sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                    <a class="nav-link text-white-50 item-link" th:href="@{/categories}">Categories</a>
                </li>

                <li class="nav-item ms-2" sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                    <a class="nav-link text-white-50 item-link" th:href="@{/brands}">Brands</a>
                </li>

                <li class="nav-item ms-2" sec:authorize="hasAnyAuthority('Admin', 'Salesperson', 'Editor', 'Shipper')">
                    <a class="nav-link text-white-50 item-link" th:href="@{/products}">Products</a>
                </li>

                <li class="nav-item ms-2" sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
                    <a class="nav-link text-white-50 item-link" th:href="@{/customers}">Customers</a>
                </li>

                <li class="nav-item ms-2" sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
                    <a class="nav-link text-white-50 item-link" th:href="@{/shipping}">Shipping</a>
                </li>

                <li class="nav-item ms-2" sec:authorize="hasAnyAuthority('Admin', 'Salesperson', 'Shipper')">
                    <a class="nav-link text-white-50 item-link" th:href="@{/orders}">Orders</a>
                </li>

                <li class="nav-item ms-2" sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
                    <a class="nav-link text-white-50 item-link" th:href="@{/reports}">Sale Reports</a>
                </li>

                <li class="nav-item ms-2" sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                    <a class="nav-link text-white-50 item-link" th:href="@{/articles}">Articles</a>
                </li>

                <li class="nav-item ms-2" sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                    <a class="nav-link text-white-50 item-link" th:href="@{/menu}">Menu</a>
                </li>

                <li class="nav-item ms-2" sec:authorize="hasAuthority('Admin')">
                    <a class="nav-link text-white-50 item-link" th:href="@{/settings}">Settings</a>
                </li>

                <li class="logger-item nav-item ms-2 text-white-50 flex-grow-1 d-flex justify-content-end">
                    <div class="dropdown d-inline-block position-relative item-link">
                        <span class="fa-regular fa-user fa-lg position-absolute" style="top: 16px; left: 0"></span>

                        <a class="icon-user nav-link dropdown-toggle text-white-50 ms-3" data-bs-toggle="dropdown"
                           sec:authentication="principal.fullName"
                            th:href="@{/account}"
                        ></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/logout}" class="dropdown-item" id="logoutLink">Logout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>