<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="content" id="productDetails">

    <th:block th:each="productDetail, status : ${product.details}">
        <div class="row my-4" th:id="itemDetail + ${status.index}" >
            <div class="col-sm-3 d-flex">
                <label class="my-2 mx-4">Name:</label>
                <input type="text" class="form-control" name="detailNames" maxlength="255" th:value="${productDetail.name}">
            </div>
            <div class="col-sm-3 d-flex">
                <label class="my-2 mx-4">Value:</label>
                <input type="text" class="form-control" name="detailValues" maxlength="255" th:value="${productDetail.value}">
            </div>
            <div class="col-sm-1">
                <a id="linkRemoveDetail" class="fas fa-times-circle fa-2x link-dark " title="Remove this details"></a>
            </div>
        </div>
    </th:block>

    <div class="row my-4" th:id="itemDetail + ${#lists.size(product.details)}" >
        <div class="col-sm-3 d-flex">
            <label class="my-2 mx-4">Name:</label>
            <input type="text" class="form-control" name="detailNames" maxlength="255">
        </div>
        <div class="col-sm-3 d-flex">
            <label class="my-2 mx-4">Value:</label>
            <input type="text" class="form-control" name="detailValues" maxlength="255">
        </div>
    </div>
</div>
</body>
</html>